@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(238, 238, 238, 0.5);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .swiper1 .swiper-slide, .connoisseur > div:nth-child(2) > div, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .swiper1 .swiper-slide, .more > div, .recommended > li > div, .recommended > li > i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 1.173rem;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0rem 0rem 0.2rem 0rem rgba(164, 164, 164, 0.36);
}
.headers > a:nth-child(1) {
  padding: 0.16rem 0.4rem;
}
.headers > a:nth-child(1) > input {
  width: 9.2rem;
  height: 0.747rem;
  padding: 0 0.16rem;
  background-color: #eeeeee;
  border-radius: 0.373rem;
}

.swiper1 .swiper-slide {
  width: auto !important;
  height: 1.173rem;
  padding: 0 0.28rem;
  font-size: 0.4rem;
}
.swiper1 .act {
  color: #5facfb;
}

.more {
  padding: 0 0.2rem;
  position: absolute;
  top: 1.173rem;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background: white;
}
.more > div {
  width: 2.4rem;
}
.more > div > div {
  width: 2.08rem;
  height: 0.88rem;
  font-size: 0.373rem;
  text-align: center;
  line-height: 0.88rem;
  margin-bottom: 0.347rem;
  background-color: #f5f5f5;
  border-radius: 0.053rem;
}
.more > div .act {
  color: #ffffff;
  background-color: #5facfb;
}

/**
     * 内容区
 */
.contents {
  top: 1.173rem;
  left: auto;
  bottom: 1.307rem;
  background: #F5F5F5;
}

.connoisseur_box {
  margin-top: 0.213rem;
}
.connoisseur_box > div:nth-child(1) {
  width: 9.52rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  background: white;
  border-bottom: 1px solid #dddddd;
}
.connoisseur_box > div:nth-child(1) > div:nth-child(2) {
  font-size: 0.293rem;
  padding: 0.06rem 0.12rem;
  border-radius: 0.053rem;
}
.connoisseur_box > div:nth-child(1) > .Care_about {
  color: #fba447;
  border: solid 0.027rem #fba447;
}
.connoisseur_box > div:nth-child(1) > .Care_about > i {
  display: inline-block;
  color: #fba447;
  font-size: 0.45rem;
  margin-bottom: 0.05rem;
}
.connoisseur_box > div:nth-child(1) .cancel {
  color: #999999;
  border: solid 0.027rem #e5e5e5;
}
.connoisseur_box > div:nth-child(1) .cancel > i {
  color: #8a8a8a;
  font-size: 0.45rem;
}

.connoisseur {
  width: 6rem;
  display: flex;
}
.connoisseur > div:nth-child(1) {
  position: relative;
}
.connoisseur > div:nth-child(1) > img:nth-child(1) {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.connoisseur > div:nth-child(1) > img:nth-child(2) {
  width: 0.3rem;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.connoisseur > div:nth-child(2) {
  margin-left: 0.267rem;
}
.connoisseur > div:nth-child(2) > h3 {
  font-size: 0.4rem;
}
.connoisseur > div:nth-child(2) > p {
  font-size: 0.32rem;
  margin: 0.17rem 0;
}
.connoisseur > div:nth-child(2) > div {
  width: 4rem;
  color: #666666;
  font-size: 0.32rem;
}

.recommended_box {
  padding-bottom: 0.4rem;
}
.recommended_box > p {
  padding: 0.253rem 0 0.267rem 0.4rem;
  font-size: 0.293rem;
}

.recommended {
  width: 100%;
  padding-left: 0.4rem;
  display: flex;
  overflow-x: auto;
}
.recommended > li {
  width: 3.147rem;
  margin-right: 20px;
  padding: 0.24rem 0 0.293rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  position: relative;
}
.recommended > li > img {
  width: 1.333rem;
  height: 1.333rem;
  border-radius: 50%;
}
.recommended > li > h3 {
  padding: 0.267rem 0 0.09rem 0;
  font-size: 0.32rem;
}
.recommended > li > p {
  width: 3.147rem;
  font-size: 0.293rem;
  text-align: center;
}
.recommended > li > p:nth-child(3) {
  padding: 0.09rem 0;
}
.recommended > li > div {
  width: 2.453rem;
  height: 0.613rem;
  margin-top: 0.2rem;
  font-size: 0.293rem;
  border-radius: 0.053rem;
}
.recommended > li > div > i {
  color: #ffffff;
  font-size: 0.45rem;
}
.recommended > li > .Care_about {
  color: #ffffff;
  background-color: #fba447;
}
.recommended > li > .cancel {
  color: #999999;
  border: solid 0.027rem #e5e5e5;
}
.recommended > li > i {
  width: 0.59rem;
  height: 0.59rem;
  color: #cccccc;
  font-size: 0.45rem;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
}

.questions {
  width: 9.52rem;
  margin: 0 auto;
  display: flex;
  background: white;
  border-radius: 0 0 0.053rem 0.053rem;
}
.questions > div {
  width: 100%;
  height: 1.067rem;
  display: flex;
  align-items: center;
}
.questions > div > div {
  width: 100%;
  font-size: 0.373rem;
  text-align: center;
}
.questions > div:nth-child(1) > div {
  color: #5facfb;
  border-right: 1px solid #e5e5e5;
}

/**
     * 底部
 */
.footers {
  display: flex;
  height: 1.307rem;
  background: white;
  box-shadow: 0rem 0rem 0.2rem 0rem rgba(164, 164, 164, 0.53);
}
.footers > a:nth-child(2) {
  color: #5facfb;
}
