@charset "UTF-8";
@import "../../css/base.scss";
.headers{
    
    height:1rem;
    display: flex;
    justify-content: space-between;
    padding-right:0.2rem;
    >a{
        width:1rem;
        height:100%;
        position: relative;
        >img{
            width:30%;
            position:absolute;
            left: 0; 
            top: 0; 
            right: 0; 
            bottom: 0;
            margin:auto;
        }
    }
    >a:nth-child(2){
        >img{
            width:50%;
        }
    }
}
.contents{
    top:0;
    left:auto;
    bottom:1.173rem;
}
.images{
    width:100%;
    height: 3.627rem;
    background:url(../../img/rebate_banners.png) no-repeat;
    background-size:100% 100%;
}
.tensile{
    padding:0 0.4rem;
    >p{
        width:100%;
        font-size: 0.32rem;
        line-height:0.45rem;
        margin-top:0.4rem;

    }
    >.omit{
        height:0.9rem;
        overflow: hidden;/*超出隐藏*/
        display: -webkit-box;/*将对象作为弹性伸缩盒子模型显示。*/
        -webkit-box-orient: vertical;/*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
        -webkit-line-clamp:2;/*超出2行用省略号表示*/
    }
    >div{
        height:1rem;
        color: #5facfb;
        @extend .flexs;
        margin-top:0.2rem;
        border-bottom:1px solid #dddddd;
        >i{
            color: #5facfb;
            font-size: 0.4rem;
            padding-top:0.1rem;
        }
        span{
            color: #5facfb;
            font-size: 0.32rem;
        }
    }
}
.identity{
    display: flex;
    justify-content: space-between;
    padding:0.413rem 0.4rem;
    border-bottom:0.213rem solid #F5F5F5;
    >div:nth-child(1){
        display: flex;
        >img{
            width: 0.853rem;
            height: 0.853rem;
            border-radius:50%;
        }
        >div{
            margin-left:0.24rem;
            >div{
                font-size: 0.32rem;
                font-weight:600;
            }
            >p{
                color: #999999;
                font-size: 0.293rem;
            }
        }
    }
    >div:nth-child(2){
        color: #999999;
        font-size: 0.293rem;
        @extend .flexs;
    }
}
.vote_box{
    padding:0 0.4rem 0.907rem 0.4rem;
    >div:nth-child(1){
        margin:0.51rem 0;
        font-size: 0.373rem;
    }
    >div:nth-child(2){
        display: flex;
        justify-content:space-between;
        >div{
            width: 4.413rem;
            height: 0.773rem;
            color: #ffffff;
            font-size: 0.373rem;
            @extend .flexs;
            border-radius: 0.053rem;
        }
        >div:nth-child(1){
            background-image: linear-gradient(90deg,#5facfb 0%,#a3cffb 100%);
        }
        >div:nth-child(2){
            background-image: linear-gradient(90deg,#f06947 1%,#f19a84 100%);
        }
    }
}
.proportion{
    >ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    >ul:nth-child(1){
        >li{
            font-size: 0.32rem;
        }
    }
    >ul:nth-child(2){
        margin:0.2rem 0;
        width:100%;
        >li{
            height: 0.133rem;
        }
        >li:nth-child(1){
            width:100%;
            border-top-left-radius:0.133rem;
            border-bottom-left-radius:0.133rem;
            background-image: linear-gradient(90deg,#5facfb 0%,#a3cffb 100%);
        }
        >li:nth-child(2){
            width:100%;
            border-top-right-radius:0.133rem;
            border-bottom-right-radius:0.133rem;
            background-image: linear-gradient(90deg,#f06947 0%,#f19a84 100%);
        }
    }
    >ul:nth-child(3){
        >li:nth-child(1){
            >span{
                color: #5facfb;
                font-size: 0.4rem;
            }
        }
        >li:nth-child(2){
            >span{
                color: #f06947;
                font-size: 0.4rem;
            }
        }
    }
}
.hot{
    margin-left:0.4rem;
    padding:0.38rem 0.4rem 0.38rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #E5E5E5;
    >div:nth-child(1){
        font-size: 0.373rem;
        font-weight:600;
    }
    >div:nth-child(2){
        display: flex;
        >div:nth-child(1){
            display: flex;
            margin-right:0.133rem;
            >img{
                width: 0.533rem;
                height: 0.533rem;
                border-radius:50%;
            }
        }
        >div:nth-child(2){
            color: #999999;
            font-size: 0.293rem;
        }
    }
}
.discuss_box{}
.discuss{
    padding:0.48rem 0 0 0.4rem;
     
}
.discuss_title{
    padding-right:0.4rem;
    display: flex;
    justify-content: space-between;
    >div:nth-child(1){
        display: flex;
        >img{
            width: 0.853rem;
            height: 0.853rem;
            border-radius:50%;
        }
        >div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left:0.24rem;
            >div{
                font-size: 0.32rem;
            }
            >p{
                color: #999999;
                font-size: 0.293rem;
            }
        }
    }
}
.reaction{
    display: flex;
    >div{
        display: flex;
        align-items: center;
    }
    >div:nth-child(1){
        color: #999999;
        font-size: 0.293rem;
    }
    >div:nth-child(2){
        color: #999999;
        font-size: 0.293rem;
        margin:0 0.2rem;
    }
    >div:nth-child(3){
        display: flex;
        align-items: center;
        >img{
            width:0.4rem;
        }
        >span{
            color: #999999;
            font-size: 0.32rem; 
            margin-left:0.1rem;
        }
    }
}
.discuss_content{
    margin:0.4rem 0 0 1.107rem;
    padding:0 0.4rem 0.48rem 0;
    font-size: 0.373rem;
    border-bottom:1px solid #E5E5E5;
}
.reply_box{
    margin-top:0.387rem;
    background: #f5f5f5;
    padding:0 0.4rem;
    >ul{
        height:2.5rem;
        overflow: hidden;
        >li{
            padding:0.387rem 0;
            font-size: 0.32rem;
            border-bottom:1px solid #E5E5E5;
        }
    }
    >.btns{
        color: #5facfb;
        font-size: 0.32rem;
        padding:0.387rem 0;
        >i{
            color: #5facfb;
            font-size: 0.4rem;
        }
    }
}











.footers{
    height: 1.173rem;
    display: flex;
    align-items: center;
    padding:0.16rem 0.4rem;
    box-shadow: 0rem -0.013rem 0rem 0rem #e5e5e5;
    >input{
        width: 8.08rem;
        height: 0.853rem;
        border:none;
        font-size: 0.32rem;
        background:#f5f5f5;
        border-radius: 0.053rem;
    }
    >div{
        width:1.12rem;
        height:100%;
        @extend .flexs;
        font-size: 0.373rem;
    }
}
