@charset "UTF-8";
@import "../../css/base";
.headers{
    
    height: 1.173rem;
    background-color: #ffffff;
    border-bottom:1px solid rgba(199,199,199,0.2);
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1.173rem;
        height:100%;
        font-size:0.42rem;
        @extend .flexs;
    }
    .centers{
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
    }
}
.contents{
    top:1.173rem;
    left:auto;
    bottom:0;
    >ul{
        width:100%;
        height:100%;
        overflow: auto;
    }
}
.lists{
    padding:0.267rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #e5e5e5;
    >div:nth-child(1){
        display: flex;
        >img{
            width: 1.333rem;
            height: 1.333rem;
            border-radius:50%;
        }
        >div{
            margin-left:0.253rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            >div:nth-child(1){
                font-size: 0.4rem;
            }
            >div:nth-child(2){
                color: #666666;
                font-size: 0.32rem;
            }
        }
    }
    >div:nth-child(2){
        height: 0.613rem;
        @extend .flexs;
        font-size: 0.293rem;
        border-radius: 0.053rem;
    }
    .Care_about{
        width:1.3rem;
        color: #fba447;
        border: solid 0.027rem #fba447;
    }
    .cancel{//已关注
        width:1.8rem;
        color:#999999;
        border: solid 0.027rem #e5e5e5;
        >i{
            color:rgba(208,208,208,1);
            font-size:0.45rem;
        }
    }
}
.record{
    width:100%;
    height:100%;
    @extend .flexs;
    >div{
        >img{
            width: 4.6rem;
            height: 3.453rem;
        }
        >p{
            color: #999999;
            font-size: 0.32rem;
            text-align: center;
            margin-top:0.36rem;
        }
        >a{
            width: 1.893rem;
            height: 0.613rem;
            color: #5facfb;
            font-size: 0.32rem;
            @extend .flexs;
            margin:0.747rem auto 0;
            border:1px solid #5facfb;
        }
    }
}