@charset "UTF-8";
@import "../../css/base";
.headers{
    height: 1.173rem;
    background-color: #ffffff;
    border-bottom:1px solid rgba(199,199,199,0.2);
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1.173rem;
        height:100%;
        font-size:0.42rem;
        @extend .flexs;
    }
    .centers{
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
    }
}
.contents{
    top:1.173rem;
    left:auto;
    bottom:0;
    overflow: visible!important;
    padding-left:0.4rem;
}
/**
     * 热门问题
 */
.problem_box{
    width:100%;
    height:100%;
    overflow: auto;
    >li{
        padding-right:0.4rem;
        padding-bottom:0.533rem;
        border-bottom:1px solid #E5E5E5;
    }
}
.problem_head{
    padding:0.253rem 0 0.36rem 0;
    display: flex;
    justify-content: space-between;
    >div:nth-child(1){
        width:50%;
        display: flex;
        >img{
            width: 1.067rem;
            height: 1.067rem;
            border-radius:50%;
        }
        >div{
            margin-left:0.307rem;
            h3{
                font-size: 0.4rem;
            }
            p{
                color:#999999;
                font-size:0.293rem;
            }
        }
    }
    >div:nth-child(2){
        display: flex;
        align-items: center;
        color:#999999;
        font-size:0.293rem;
    }
}
.problem_cont{
    font-size:0.373rem;
    @extend .yincangs;
}
.problem_answer{
    margin-top:0.253rem;
    padding-top:0.133rem;
    >div:nth-child(1){
        display: flex;
        img{
            width: 0.853rem;
            height: 0.853rem;
            border-radius:50%;
        }
        >div{
            width: 2.88rem;
            height: 0.853rem;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left:0.267rem;
            background-image: linear-gradient(90deg,#5facfb 0%,#71b5fb 34%,#82befa 100%);
//          background-image: linear-gradient(-90deg,#5facfb 0%,#71b5fb 34%,#82befa 100%);
            border-radius: 0.427rem 0rem 0.427rem 0rem;
            >i{
                color: #ffffff;
                font-size:0.35rem;
            }
        }
    }
    >div:nth-child(2){
        height: 0.36rem;
        display: flex;
        align-items: center;
        margin-top:0.36rem;
        >div{
            height:100%;
            line-height: 0.36rem;
            font-size:0.373rem;
        }
        >div:nth-child(1){
            padding-right:0.133rem;
            border-right:0.027rem solid #333333;
        }
        >div:nth-child(2){
            padding-left:0.133rem;
        }
    }
}