@charset "UTF-8";
@import "../../css/base";
.headers{
    height: 1.173rem;
    background-color: #ffffff;
    border-bottom:1px solid rgba(199,199,199,0.2);
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1.173rem;
        height:100%;
        font-size:0.42rem;
        @extend .flexs;
    }
    .centers{
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
    }
    .rights{}
}
.contents{
    top:1.173rem;
    left:auto;
    bottom:0;
    
    padding:0 0.4rem;
}
.lists{
    padding:0.373rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #f5f5f5;
    >div{
        width:5.7rem;
        >div{
            font-size: 0.373rem;
            @extend .yincangs;
        }
        >p{
            margin-top:0.3rem;
            >span{
                color: #999999;
                font-size: 0.293rem;
            }
            >span:nth-child(2){
                margin-left:0.1rem;
            }
        }
    }
    >img{
        width: 2.88rem;
        height: 2.133rem;
    }
}
