@charset "UTF-8";
@import "../../css/base";
.headers{
    height: 1.173rem;
    background-color: #ffffff;
    border-bottom:1px solid rgba(199,199,199,0.2);
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1.173rem;
        height:100%;
        font-size:0.42rem;
        @extend .flexs;
    }
    .centers{
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
    }
}
.contents{
    top:1.173rem;
    left:auto;
    bottom:0;
    background:#F5F5F5;
}
form{
    >div{
        padding:0 0.4rem;
        background:#fff;
        border-bottom:1px solid #E5E5E5;
        >div{
            display: flex;
            align-items: center;
            height: 1.333rem;
            border-bottom:1px solid #E5E5E5;
            >div{
                font-size: 0.4rem;
                white-space:nowrap;
            }
            >input{
                width:100%;
                border:none;
                font-size: 0.4rem;
                margin-left:0.1rem;
                padding-top:0.01rem;
            }
            >input::-webkit-input-placeholder{
                text-align: right;
            }
        }
        >div:last-child{
            border:none;
        }
    }
}
.btn{
    width: 9.2rem;
    height: 1.173rem;
    margin:0.92rem auto 0;
    color: #ffffff;
    font-size: 0.4rem;
    @extend .flexs;
    background-color: #5facfb;
    border-radius: 0.053rem;
}
