@charset "UTF-8";
@import "../../css/base.scss";
.headers{
    
    height: 1.173rem;
    background:white;
    display: flex;
    align-items: center;
    z-index:96;
    padding-left:0.4rem;
    div:nth-child(1){
        width: 8.187rem;
        height: 0.747rem;
        font-size:0.32rem;
        background-color:#f5f5f5;
        border-radius: 0.053rem;
        display: flex;
        i{
            width:7%;
            height:100%;
            color:#7b7b7b;
            font-size:0.42rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        input{
            width:93%;
            height:100%;
            border:none;
            padding-left:0.1rem;
            font-size:0.373rem;
            background:rgba(255,255,255,0);
        }
    }
    div:nth-child(2){
        width:1.413rem;
        height:100%;
        @extend .flexs;
        font-size:0.373rem;
    }
}
.contents{
    width:10rem !important;
    position:absolute;
    top:1.173rem;
    left:auto;
    bottom:0;
}
.contents_box{
    padding:0 0.4rem;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    >div{
        padding:0.267rem 0;
        display: flex;
        justify-content: space-between;
        >div{
            color:#999999;
            font-size:0.32rem;
        }
        >i{
            font-size:0.373rem;
        }
    }
}
.record_box{
    position:absolute;
    top:1rem;
    left:0.4rem;
    right:0.4rem;
    bottom:0;
    overflow: auto;
    >li{
        height: 1.173rem;
        display: flex;
        align-items: center;
        font-size:0.373rem;
        border-bottom:1px solid #E5E5E5;
    }
}
.record_box::-webkit-scrollbar {
    width: 0 !important;
}
.without{
    width:100%;
    height:100%;
    @extend .flexs;
    >div{
        text-align: center;
        >i{
            color:#e5e5e5;
            font-size:2rem;
        }
        >p{
            color: #666666;
            font-size: 0.373rem;
        }
    }
}

.connoisseur_box{
    margin-top:0.213rem;
    >div:nth-child(1){
        width: 9.52rem;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0.4rem;
        background: white;
        border-bottom:1px solid #dddddd;
        >div:nth-child(2){
            font-size:0.293rem;
            padding:0.06rem 0.12rem;
            border-radius: 0.053rem;
        }
        >.Care_about{
            color: #fba447;
            border: solid 0.027rem #fba447;
            >i{
                color: #fba447;
                font-size:0.45rem;
            }
        }
        .cancel{
            color:#999999;
            border: solid 0.027rem #e5e5e5;
        }
    }
}
.connoisseur{
    width:6rem;
    display: flex;
    >div:nth-child(1){
        position: relative;
        >img:nth-child(1){
            width: 1.6rem;
            height: 1.6rem;
            border-radius:50%;
        }
        >img:nth-child(2){
            width:0.3rem;
            position: absolute;
            right:5%;
            bottom:5%;
        }
    }
    >div:nth-child(2){
        margin-left:0.267rem;
        >h3{
            font-size: 0.4rem;
        }
        >p{
            font-size:0.32rem;
            margin:0.17rem 0;
        }
        >div{
            width:4rem;
            color:#666666;
            font-size:0.32rem;
            @extend .yincang;
        }
    }
}
.questions{
    width: 9.52rem;
    margin:0 auto;
    display: flex;
    background: white;
    >div{
        width:100%;
        height:1.067rem;
        display: flex;
        align-items: center;
        >div{
            width:100%;
            font-size:0.373rem;
            text-align: center;
        }
    }
    >div:nth-child(1){
        >div{
            color: #5facfb;
            border-right:1px solid #e5e5e5;
        }
    }
}