@charset "UTF-8";
@import "../../css/base";
.headers{
    
    height: 1.173rem;
    background-color: #ffffff;
    border-bottom:1px solid rgba(199,199,199,0.2);
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        height:100%;
        padding:0 0.4rem;
        font-size: 0.4rem;
        @extend .flexs;
    }
    .centers{
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
    }
    .rights{
        height:100%;
        color: #999999;
        padding:0 0.4rem;
        font-size: 0.4rem;
        @extend .flexs;
    }
}
.contents{
    top:1.173rem;
    left:auto;
    bottom:0;
}
.texts{
    width:100%;
    height:3rem;
    outline: none;
    padding:0 0.4rem;
    margin-top:0.427rem;
    border:none;
    resize: none;
    font-size: 0.373rem;
}
.texts::-webkit-input-placeholder{ /*WebKit browsers*/
    color: #999999;
    font-weight:600;
}
.mun{
    text-align:right;
    font-size: 0.373rem;
    padding:0.2rem 0.4rem;
}
/**
     * 上传视频
 */
.upload_box {
    width: 2.693rem;
    height: 2.693rem;
    margin-left:1rem;
    border:1px solid #e5e5e5;
    position: relative;
    display: flex;
    justify-content: center;
}
.file{
    width:100%;
    height:100%;
    >i{
        width:100%;
        height:100%;
        @extend .flexs;
        font-size:1.6rem;
    }
    #file {
        opacity: 0;
        color: white;
        width: 100%;
        height: 100%;
        z-index:1;
        position: absolute;
        top:0;
        left:0;
    }
}
.videos{
    width:100%;
    height:100%;
    display: none;
    >video{
        width:100%;
        height:100%;
    }
    >i{
        width:0.48rem;
        height:0.48rem;
        position: absolute;
        top:0;
        right:0;
        color:white;
        @extend .flexs;
        background-color:rgba(0,0,0,0.4);
    }
}
