@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(238, 0, 0, 0.5);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers .lefts, .headers .centers, .contents > div, form > div:nth-child(1) > div:nth-child(1) > p, form > div:nth-child(1) > div:nth-child(1) > i, form > div:nth-child(1) > .validation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 1.173rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
}
.headers .lefts {
  width: 1.173rem;
  height: 100%;
  font-size: 0.42rem;
}
.headers .centers {
  height: 100%;
  font-size: 0.48rem;
}

.contents {
  top: 1.173rem;
  left: auto;
  bottom: 0;
  background: #F5F5F5;
}
.contents > input {
  display: block;
  width: 9.2rem;
  height: 1.173rem;
  border: none;
  color: #ffffff;
  font-size: 0.4rem;
  margin: 0.92rem auto 0;
  background-color: #5facfb;
  border-radius: 0.053rem;
}
.contents > div {
  width: 9.2rem;
  height: 1.173rem;
  color: #ffffff;
  font-size: 0.4rem;
  margin: 0.92rem auto 0;
  background-color: #5facfb;
  border-radius: 0.053rem;
}
.contents > .disableds {
  pointer-events: none;
  background-color: #C8DFF7;
}

form {
  margin-top: 0.533rem;
  background: white;
}
form > div:nth-child(1) {
  display: flex;
  align-items: center;
  height: 1.173rem;
  padding: 0 0.4rem;
  border-bottom: 1px solid #E5E5E5;
}
form > div:nth-child(1) > div:nth-child(1) {
  width: 1.76rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form > div:nth-child(1) > div:nth-child(1) > p {
  font-size: 0.4rem;
}
form > div:nth-child(1) > div:nth-child(1) > i {
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.5rem;
  border-top: 1px solid #e5e5e5;
  transform: rotate(90deg);
}
form > div:nth-child(1) > input {
  width: 5.387rem;
  height: 100%;
  border: none;
  padding: 0 0.11rem;
}
form > div:nth-child(1) > .validation {
  width: 2.053rem;
  height: 0.693rem;
  font-size: 0.32rem;
  border-radius: 0.053rem;
}
form > div:nth-child(1) > .codes {
  color: #5facfb;
  border: 2px solid #5facfb;
}
form > div:nth-child(1) > .countdown {
  color: #999999;
  border: 2px solid #e5e5e5;
}
form > input:nth-child(2) {
  width: 100%;
  height: 1.173rem;
  padding: 0 0.4rem;
  border: none;
}
