@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(255, 0, 0, 0);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .lists > li > div > h3, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers .lefts, .headers .centers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 1.173rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
}
.headers .lefts {
  width: 1.173rem;
  height: 100%;
  font-size: 0.42rem;
}
.headers .centers {
  height: 100%;
  font-size: 0.48rem;
}

.contents {
  top: 1.173rem;
  left: auto;
  bottom: 0;
  padding-left: 0.4rem;
}
.contents .Brand_title {
  height: 1.49rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contents .Brand_title > h3 {
  font-size: 0.48rem;
}
.contents .Brand_title > div {
  height: 100%;
  display: flex;
  align-items: center;
  color: #666666;
  font-size: 0.32rem;
  padding: 0 0.4rem;
}
.contents .Brand_title > div > i {
  padding-top: 0.05rem;
  color: #666666;
  font-size: 0.5rem;
}
.contents .sentiment, .contents .newk {
  margin-top: 0.133rem;
}

.swiper1 .swiper-slide img {
  width: 2.693rem;
  height: 2.693rem;
  border-radius: 0.053rem;
  border: solid 0.013rem #e5e5e5;
}

.lists > li {
  display: flex;
  padding: 0.32rem 0;
  border-bottom: 1px solid #dddddd;
}
.lists > li > img {
  width: 2.88rem;
  height: 2.133rem;
  border-radius: 0.053rem;
}
.lists > li > div > h3 {
  width: 7rem;
  padding-left: 0.32rem;
  font-size: 0.427rem;
}
.lists > li > div > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.094rem;
}
.lists > li > div > div > div {
  color: #666666;
  font-size: 0.32rem;
  margin-left: 0.32rem;
  margin-top: 0.133rem;
  padding: 0.12rem 0.307rem;
  border: solid 0.013rem #e5e5e5;
}
.lists > li:first-child {
  padding-top: 0;
}

/*# sourceMappingURL=Brand.css.map */
