@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  font-family: helvetica;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(0, 0, 0, 0.1);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers > div:nth-child(1) .lefts, .headers > div:nth-child(1) .centers, .headers > div:nth-child(1) .rights, .box .list > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 3.84rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
  background-image: linear-gradient(90deg, #5facfb 0%, #a3cffb 100%);
}
.headers > div:nth-child(1) {
  height: 1.373rem;
  position: relative;
}
.headers > div:nth-child(1) .lefts {
  width: 1.173rem;
  height: 100%;
  color: #ffffff;
  font-size: 0.42rem;
}
.headers > div:nth-child(1) .centers {
  height: 100%;
  color: #ffffff;
  font-size: 0.48rem;
}
.headers > div:nth-child(1) .rights {
  padding: 0 0.4rem;
  height: 100%;
  color: #ffffff;
  font-size: 0.4rem;
}
.headers > div:nth-child(2) {
  height: 2.467rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headers > div:nth-child(2) > div {
  color: #ebebeb;
  text-align: center;
}
.headers > div:nth-child(2) > div:nth-child(1) {
  font-size: 0.907rem;
  font-weight: 600;
}
.headers > div:nth-child(2) > div:nth-child(2) {
  font-size: 0.373rem;
}

.contents {
  padding-left: 0.4rem;
  top: 3.84rem;
  left: auto;
  bottom: 0;
}
.contents > li {
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.contents > li > div:nth-child(1) > div {
  font-size: 0.373rem;
  line-height: 0.6rem;
}
.contents > li > div:nth-child(1) > p {
  color: #999999;
  font-size: 0.32rem;
  line-height: 0.55rem;
}
.contents > li > div:nth-child(2) {
  font-size: 0.453rem;
  padding-right: 0.4rem;
}

.box {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}
.box .list {
  width: 2.613rem;
  position: absolute;
  top: 1.25rem;
  right: 0.133rem;
  background: white;
  border-radius: 0.1rem;
}
.box .list > div {
  width: 0;
  height: 0;
  border-left: 0.187rem solid transparent;
  border-right: 0.187rem solid transparent;
  border-bottom: 0.16rem solid white;
  position: absolute;
  top: -0.16rem;
  right: 0.5rem;
}
.box .list > li {
  width: 100%;
  height: 1.067rem;
  font-size: 0.373rem;
  border-bottom: 1px solid #E5E5E5;
}
.box .list > li:last-child {
  border: none;
}

/*# sourceMappingURL=CapitalSubsidiary.css.map */
