@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(238, 238, 238, 0.5);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers .lefts, .headers .centers, .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 1.173rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
}
.headers .lefts {
  width: 1.173rem;
  height: 100%;
  font-size: 0.42rem;
}
.headers .centers {
  height: 100%;
  font-size: 0.48rem;
}

.contents {
  top: 1.173rem;
  left: auto;
  bottom: 0;
  background: #f5f5f5;
}
.contents > ul {
  background: white;
  padding: 0 0.4rem;
}
.contents > ul > li {
  display: flex;
  align-items: center;
  height: 1.2rem;
  border-bottom: 1px solid #E5E5E5;
}
.contents > ul > li > div {
  font-size: 0.4rem;
  white-space: nowrap;
}
.contents > ul > li > input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: right;
  padding-top: 0.1rem;
  font-size: 0.4rem;
  margin-left: 0.1rem;
}

.btn {
  width: 9.2rem;
  height: 1.173rem;
  color: #ffffff;
  font-size: 0.4rem;
  margin: 0.92rem auto 0;
  background-color: #5facfb;
  border-radius: 0.053rem;
}

.disable {
  pointer-events: none;
  background-color: #C8DFF7;
}

/**
     * 省市联动
 */
.right {
  flex: 1;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  flex: 1;
  height: 100%;
  border: none;
  font-size: 0.4rem;
  text-align: right;
  padding-right: 0.1rem;
}

.input::-webkit-input-placeholder {
  text-align: right;
}

.icon-qianjin {
  color: #8a8a8a;
  margin-top: 0.05rem;
  font-size: 0.35rem !important;
}

#mymodal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal-main {
  position: absolute;
  bottom: -900px;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: #fff;
  font-size: .373rem;
}

.address-title {
  font-size: .4rem;
  text-align: center;
  padding: 0.453rem 0;
}

.close {
  position: absolute;
  padding: .1rem;
  right: 0.4rem;
  top: 0.4rem;
  color: #8a8a8a;
}

.optionwrapper {
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  padding-left: .2rem;
  box-sizing: border-box;
}
.optionwrapper .option-menu {
  padding: .147rem .1rem;
  margin-right: .15rem;
  font-size: 0.373rem;
}

.active-option {
  color: #2f80ed;
  border-bottom: 3px solid #2f80ed;
}

.option-content {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.option-group {
  display: none;
  overflow: auto;
  height: 100%;
}

.option-list {
  padding: .2rem .2rem;
  display: flex;
  align-items: center;
}

.checked {
  width: .15rem;
  height: .15rem;
  background-color: #2f80ed;
  display: inline-block;
  margin-left: .2rem;
  border-radius: 50%;
  display: none;
  margin-top: .1rem;
}
