@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  font-family: helvetica;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(0, 0, 0, 0.2);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers .lefts, .headers .centers, .footers > div:nth-child(1) > i, .inputs > i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 1.173rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
}
.headers .lefts {
  width: 1.173rem;
  height: 100%;
  font-size: 0.42rem;
}
.headers .centers {
  height: 100%;
  font-size: 0.48rem;
}

.contents {
  top: 1.173rem;
  left: auto;
  bottom: 1.307rem;
  padding: 0 0.4rem;
}
.contents > h3:nth-child(1) {
  font-size: 0.533rem;
  padding: 0.587rem 0;
}

.annotations {
  display: flex;
}
.annotations > img {
  width: 1.067rem;
  height: 1.067rem;
  border-radius: 50%;
}
.annotations > div {
  margin-left: 0.187rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.annotations > div > div {
  font-size: 0.373rem;
}
.annotations > div > p {
  color: #999999;
  font-size: 0.293rem;
}

.cont {
  width: 100%;
  height: 5rem;
  margin: 0.6rem 0 1.587rem 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.comments_title {
  font-size: 0.533rem;
}

.comments {
  display: flex;
  margin-top: 0.52rem;
}
.comments > img {
  width: 0.96rem;
  height: 0.96rem;
  border-radius: 50%;
}
.comments > div {
  margin-left: 0.253rem;
}
.comments > div > p {
  width: 7.9rem;
  margin-top: 0.213rem;
}

.footers {
  width: 10rem;
  height: 1.307rem;
  background: white;
  box-shadow: 0rem 0rem 0.2rem 0rem rgba(164, 164, 164, 0.53);
}
.footers > div:nth-child(1) {
  width: 100%;
  height: 1.307rem;
  display: flex;
  align-items: center;
  padding: 0 0.267rem;
  box-shadow: 0rem -0.013rem 0rem 0rem #e5e5e5;
}
.footers > div:nth-child(1) > i {
  width: 1.359rem;
  height: 100%;
  font-size: 0.55rem;
}
.footers > div:nth-child(1) > .icon-icon4 {
  color: #F9351A;
}

.inputs {
  width: 8.107rem;
  height: 0.773rem;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.387rem;
  overflow: hidden;
}
.inputs > i {
  width: 10%;
  height: 100%;
  font-size: 0.45rem;
  background: #F5F5F5;
  padding: 0 0.1rem 0 0.267rem;
}

#form_article {
  width: 80%;
  height: 0.773rem;
  font-size: 0.32rem;
  outline: none;
  overflow-x: auto;
  white-space: nowrap;
  line-height: 0.85rem;
  display: flex;
  align-items: center;
}
#form_article img {
  display: inline-block;
}

#form_article::-webkit-scrollbar {
  width: 0 !important;
}

/*# sourceMappingURL=Dynamic_details.css.map */
