@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  font-family: helvetica;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(0, 0, 0, 0);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs, .topic > div:nth-child(1) > div {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers .lefts, .stopped_box > div:nth-child(5) > div, .portrait > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 1.173rem;
  background-color: #ffffff;
}
.headers .lefts {
  width: 1.173rem;
  height: 100%;
  font-size: 0.42rem;
}

.contents {
  padding: 0 0.4rem;
  top: 1.173rem;
  left: auto;
  bottom: 0;
  overflow: visible !important;
}

.stopped_box {
  width: 100%;
  padding-top: 1.2rem;
  background-color: #5facfb;
  border-radius: 0.053rem;
  position: relative;
  margin-top: 0.933rem;
}
.stopped_box > h3 {
  color: #ffffff;
  font-size: 0.48rem;
  text-align: center;
}
.stopped_box > div:nth-child(3) {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 0.32rem;
  line-height: 0.7rem;
}
.stopped_box > ul:nth-child(4) {
  padding: 0 0.7rem;
  display: flex;
  justify-content: space-between;
}
.stopped_box > ul:nth-child(4) > li {
  color: #ffffff;
  font-size: 0.293rem;
  padding: 0.03rem 0.06rem;
  border-radius: 0.027rem;
  border: 1px solid #ffffff;
}
.stopped_box > div:nth-child(5) {
  padding: 0.533rem 2.3rem 0.613rem 2.3rem;
  display: flex;
  justify-content: space-between;
}
.stopped_box > div:nth-child(5) > div {
  height: 0.8rem;
  border-radius: 0.4rem;
}
.stopped_box > div:nth-child(5) > div:nth-child(1) {
  width: 1.733rem;
  color: #ffffff;
  font-size: 0.32rem;
  background-color: #fbbb61;
}
.stopped_box > div:nth-child(5) > div:nth-child(1) > i {
  color: #ffffff;
  font-size: 0.3rem;
}
.stopped_box > div:nth-child(5) > div:nth-child(2) {
  width: 2.133rem;
  color: #fbbb61;
  font-size: 0.32rem;
  border: 1px solid #e1c78c;
}

.portrait {
  width: 100%;
  position: absolute;
  top: -0.85rem;
}
.portrait > div {
  margin: 0 auto;
  width: 1.733rem;
  height: 1.733rem;
  background: white;
  border-radius: 50%;
  position: relative;
}
.portrait > div > img:nth-child(1) {
  width: 1.7rem;
  height: 1.7rem;
  background: red;
  border-radius: 50%;
}
.portrait > div > img:nth-child(2) {
  width: 0.293rem;
  height: 0.293rem;
  position: absolute;
  right: 5%;
  bottom: 5%;
  background: none;
}

.topic_title {
  margin-top: .373rem;
  padding: 0.36rem 0 0.36rem 0;
}
.topic_title > span {
  font-size: 0.373rem;
}

.topic_box {
  padding: 0 0.4rem;
  position: absolute;
  top: 7.56rem;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.topic {
  display: flex;
  justify-content: space-between;
  padding-top: 0.427rem;
  padding-bottom: 0.547rem;
  border-bottom: 1px solid #E5E5E5;
}
.topic > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 6.187rem;
}
.topic > div:nth-child(1) > div {
  font-size: 0.4rem;
}
.topic > div:nth-child(1) > p {
  color: #999999;
  font-size: 0.267rem;
}
.topic > img:nth-child(2) {
  width: 2.4rem;
  height: 1.813rem;
  border-radius: 0.053rem;
}

/*# sourceMappingURL=IndividualTopic.css.map */
