@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(238, 238, 238, 0.5);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .Introduction > div > .yy, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline, .other > div > div > .aa, .mys > div > div > .bb {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers .lefts, .headers .centers, .Introduction > i, .experts_tab > li, .inps > div:nth-child(1) > div:nth-child(2) > i, .inputs > i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 1.173rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
}
.headers .lefts {
  width: 1.173rem;
  height: 100%;
  font-size: 0.42rem;
}
.headers .centers {
  height: 100%;
  font-size: 0.48rem;
}

.contents {
  top: 1.173rem;
  left: auto;
  bottom: 0;
}
.contents > video {
  width: 100%;
  height: 5rem;
}

.Introduction {
  display: flex;
  justify-content: space-between;
  padding: 0.453rem 0.4rem;
  border-bottom: 1px solid #dddddd;
}
.Introduction > div {
  width: 90%;
}
.Introduction > div > div {
  height: 0.5rem;
  font-size: 0.4rem;
}
.Introduction > div > p {
  margin-top: 0.16rem;
}
.Introduction > div > p > span {
  color: #666666;
  font-size: 0.32rem;
}
.Introduction > i {
  width: 10%;
  height: 0.5rem;
  font-size: 0.6rem;
  -webkit-transition: transform .25s linear;
  -moz-transition: transform .25s linear;
  -o-transition: transform .25s linear;
  transition: transform .25s linear;
}
.Introduction > .rotating {
  transform: rotate(180deg);
  -webkit-transition: transform .25s linear;
  -moz-transition: transform .25s linear;
  -o-transition: transform .25s linear;
  transition: transform .25s linear;
}

.experts_tab {
  display: flex;
  background: white;
  position: relative;
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5, 0rem -0.013rem 0rem 0rem #e5e5e5;
}
.experts_tab > li {
  width: 100%;
  height: 1.173rem;
  color: #666666;
  font-size: 0.4rem;
}
.experts_tab > div {
  position: absolute;
  left: 8.5%;
  bottom: 0.16rem;
  display: inline-block;
  width: 8%;
  border-bottom: 0.053rem solid #5facfb;
}
.experts_tab > .act {
  color: #5facfb;
}

.box {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.comments_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.watch {
  background: #F5F5F5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1.307rem;
  overflow: auto;
}
.watch .times {
  width: 100%;
  height: 1rem;
  color: #999999;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.267rem;
}
.watch .more {
  width: 100%;
  height: 1rem;
  color: #999999;
  font-size: 0.32rem;
  text-align: center;
  line-height: 1rem;
}

.cons {
  width: 100%;
  padding: 0 3%;
}
.cons > div {
  width: 100%;
  display: flex;
}

.other > div {
  display: flex;
}
.other > div > img {
  width: 1.067rem;
  height: 1.067rem;
  border-radius: 50%;
  background-color: red;
}
.other > div > div {
  margin-left: 0.5rem;
  position: relative;
}
.other > div > div > p {
  height: 0.5rem;
  color: #999999;
  font-size: 0.373rem;
}
.other > div > div > .aa {
  max-width: 6.2rem;
  margin-top: 0.1rem;
  border-radius: 0.1rem;
  padding: 0.2rem;
  font-size: 0.373rem;
  background: #FFFFFF;
}

.aa:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 0.95rem;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 10px solid #FFFFFF;
}

.mys {
  justify-content: flex-end;
}
.mys > div {
  display: flex;
  justify-content: flex-end;
}
.mys > div > img {
  width: 1.067rem;
  height: 1.067rem;
  border-radius: 50%;
  background-color: red;
}
.mys > div > div {
  margin-right: 0.5rem;
  position: relative;
}
.mys > div > div > p {
  height: 0.5rem;
  color: #999999;
  font-size: 0.373rem;
  text-align: end;
}
.mys > div > div > .bb {
  max-width: 6.2rem;
  border-radius: 0.1rem;
  padding: 0.2rem;
  font-size: 0.373rem;
  background: #FFFFFF;
  margin-top: 0.1rem;
}

.bb:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0.95rem;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-top: 10px solid #FFFFFF;
}

.inps {
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.inps > div:nth-child(1) {
  width: 100%;
  height: 1.307rem;
  display: flex;
  align-items: center;
  padding: 0.267rem 0 0.267rem 0.32rem;
  box-shadow: 0rem -0.013rem 0rem 0rem #e5e5e5;
}
.inps > div:nth-child(1) > div:nth-child(2) {
  width: 2.313rem;
  margin-left: 0.3rem;
  height: 100%;
  display: flex;
}
.inps > div:nth-child(1) > div:nth-child(2) > i {
  width: 50%;
  height: 100%;
  font-size: 0.55rem;
}
.inps > div:nth-child(1) > div:nth-child(2) > i:nth-child(2) {
  transform: rotateY(-180deg);
}

.inputs {
  width: 7.067rem;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.387rem;
  overflow: hidden;
}
.inputs > i {
  width: 10%;
  height: 0.773rem;
  font-size: 0.45rem;
  background: #F5F5F5;
  padding: 0 0.1rem 0 0.267rem;
}

#form_article {
  width: 90%;
  height: 0.773rem;
  font-size: 0.32rem;
  padding-left: 0.2rem;
  outline: none;
  overflow-x: auto;
  white-space: nowrap;
  line-height: 0.773rem;
}
#form_article img {
  display: inline-block;
}
