@charset "UTF-8";
@import "../../css/base";
@import "../../css/styles";
.headers{
    height: 1.173rem;
    background-color: #ffffff;
    border-bottom:1px solid rgba(199,199,199,0.2);
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1.173rem;
        height:100%;
        font-size:0.42rem;
        @extend .flexs;
    }
    .centers{
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
    }
    .rights{}
}
.contents{
    top:1.173rem;
    left:auto;
    bottom:0;
    padding:0 0.4rem;
}
.tips_list{
    display: flex;
    padding:0.427rem 0 0.547rem 0;
    border-bottom:1px solid #e5e5e5;
    >img{
        width: 2.4rem;
        height: 1.813rem;
        border-radius: 0.053rem;
    }
    >div{
        width:6.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left:0.307rem;
        >p{
            font-size: 0.4rem;
        }
        >.tips_explain{
            color: #999999;
            font-size: 0.32rem;
            margin:0.12rem 0;
            @extend .yincangs;
        }
    }
}
.tips_conditions{
    display: flex;
    justify-content: space-between;
    >div:nth-child(1){
        display: flex;
        >div{
            padding:0.03rem 0.1rem;
            margin-right:0.133rem;
        }
        >div:nth-child(1){
            color:#53e0ad;
            border-radius: 0.053rem;
            border: solid 1px #53e0ad;/*no*/
        }
        >div:nth-child(2){
            color:#fba447;
            border-radius: 0.053rem;
            border: solid 1px #fba447;/*no*/
        }
        >div:nth-child(3){
            color:#f06947;
            border-radius: 0.053rem;
            border: solid 1px #f06947;/*no*/
        }
    }
    >div:nth-child(2){
        color: #999999;
        font-size: 0.267rem;
    }
}
