@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(238, 238, 238, 0.5);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .Introduction > .yy, .associated > div > div, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs, .associated > div > p, .recommended > li > div, .ycs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers > div > i, .experts_tab > li, .Introduction > i, .heat > li, .comments_title > div:nth-child(2), .reply_box > div:nth-child(1) > div:nth-child(2), .inputs > i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 6.773rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
}
.headers > div {
  position: relative;
}
.headers > div > img {
  width: 10rem;
  height: 5.6rem;
}
.headers > div > i {
  width: 1.173rem;
  height: 1.173rem;
  font-size: 0.42rem;
  position: absolute;
  top: 0;
  left: 0;
}

.contents {
  top: 6.773rem;
  left: auto;
  bottom: 0;
  overflow: visible !important;
}

.Introduction_box {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.experts_tab {
  display: flex;
  background: white;
  position: relative;
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5, 0rem -0.013rem 0rem 0rem #e5e5e5;
}
.experts_tab > li {
  width: 100%;
  height: 1.173rem;
  color: #666666;
  font-size: 0.4rem;
}
.experts_tab > div {
  position: absolute;
  left: 21%;
  bottom: 0.16rem;
  display: inline-block;
  width: 8%;
  border-bottom: 0.053rem solid #5facfb;
}
.experts_tab > .act {
  color: #5facfb;
}

/**
     * 基础信息
 */
.wtitles_box {
  padding: 0 0.32rem;
  border-bottom: 0.267rem solid #F5F5F5;
}
.wtitles_box > p {
  color: #666666;
  font-size: 0.32rem;
  margin-top: 0.173rem;
}

.wtitles {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wtitles > div:nth-child(1) {
  width: 6rem;
  display: flex;
}
.wtitles > div:nth-child(1) > img {
  width: 1.733rem;
  height: 1.733rem;
  border-radius: 50%;
}
.wtitles > div:nth-child(1) > div {
  margin-left: 0.267rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wtitles > div:nth-child(1) > div > div {
  font-size: 0.4rem;
}
.wtitles > div:nth-child(1) > div > p {
  color: #666666;
  font-size: 0.32rem;
}
.wtitles > div:nth-child(2) {
  font-size: 0.293rem;
  padding: 0.06rem 0.12rem;
  border-radius: 0.053rem;
}
.wtitles > .Care_about {
  color: #fba447;
  border: solid 0.027rem #fba447;
}
.wtitles > .Care_about > i {
  color: #fba447;
  font-size: 0.45rem;
}
.wtitles .cancel {
  color: #999999;
  border: solid 0.027rem #e5e5e5;
}

.Introduction {
  display: flex;
  justify-content: space-between;
}
.Introduction > div {
  width: 90%;
  height: 0.5rem;
  font-size: 0.4rem;
}
.Introduction > i {
  width: 10%;
  height: 0.5rem;
  font-size: 0.6rem;
  -webkit-transition: transform .25s linear;
  -moz-transition: transform .25s linear;
  -o-transition: transform .25s linear;
  transition: transform .25s linear;
}
.Introduction > .rotating {
  transform: rotate(180deg);
  -webkit-transition: transform .25s linear;
  -moz-transition: transform .25s linear;
  -o-transition: transform .25s linear;
  transition: transform .25s linear;
}

.heat {
  width: 100%;
  margin: 0.387rem 0 0.427rem 0;
  display: flex;
  justify-content: space-between;
}
.heat > li {
  width: 2.933rem;
  height: 0.88rem;
  border-radius: 0.44rem;
  border: 1px solid #e5e5e5;
}
.heat > li > i {
  font-size: 0.45rem;
}
.heat > li > span {
  color: #666666;
  font-size: 0.32rem;
  margin-left: 0.1rem;
}

.icon-dianzan {
  color: #8a8a8a;
}

.icon-zan2 {
  color: #f9351a;
}

/**
     * 关联项目
 */
.associated_box {
  padding: 0.427rem 0.32rem;
  border-bottom: 0.267rem solid #F5F5F5;
}
.associated_box > h3 {
  font-size: 0.48rem;
  padding-bottom: 0.387rem;
}

.associated {
  display: flex;
  justify-content: space-between;
}
.associated > img {
  width: 2.88rem;
  height: 2.133rem;
  border-radius: 0.053rem;
}
.associated > div {
  width: 6rem;
}
.associated > div > h3 {
  font-size: 0.427rem;
}
.associated > div > div, .associated > div > p {
  width: 100%;
  color: #999999;
  font-size: 0.32rem;
}
.associated > div > div {
  line-height: 0.8rem;
}

/**
     * 相关推荐
 */
.recommended_title {
  padding: 0.427rem 0.32rem 0.12rem 0.32rem;
  display: flex;
  justify-content: space-between;
}
.recommended_title > h3 {
  font-size: 0.48rem;
}
.recommended_title > div {
  display: flex;
  justify-content: space-between;
}
.recommended_title > div > p, .recommended_title > div > i {
  color: #666666;
  display: flex;
  align-items: center;
}
.recommended_title > div > p {
  font-size: 0.32rem;
}
.recommended_title > div > i {
  font-size: 0.32rem;
}

.recommended {
  padding: 0 0.32rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recommended > li {
  width: 4.533rem;
}
.recommended > li > img {
  width: 4.533rem;
  height: 2.827rem;
}
.recommended > li > div {
  width: 100%;
  height: auto;
  padding: 0 0.24rem 0 0.387rem;
  margin: 0.2rem 0 0.227rem 0;
  font-size: 0.347rem;
}
.recommended > li > p {
  color: #999999;
  font-size: 0.293rem;
  padding: 0.2rem 0.387rem;
}

/**
     * 评论
 */
.comments_box {
  width: 100%;
  height: 100%;
  position: relative;
}
.comments_box > ul {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 1.307rem;
}

.lists {
  padding: 0.307rem 0.307rem 0.44rem 0.307rem;
}

.comments_title {
  display: flex;
  justify-content: space-between;
}
.comments_title > div:nth-child(1) {
  display: flex;
}
.comments_title > div:nth-child(1) > img {
  width: 1.067rem;
  height: 1.067rem;
  border-radius: 50%;
}
.comments_title > div:nth-child(1) > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.293rem;
}
.comments_title > div:nth-child(1) > div > div {
  font-size: 0.373rem;
}
.comments_title > div:nth-child(1) > div > p {
  color: #999999;
  font-size: 0.293rem;
}
.comments_title > div:nth-child(2) {
  padding: 0 0.2rem;
  font-size: 0.5rem;
}
.comments_title > div:nth-child(2) > span {
  color: #666666;
  font-size: 0.32rem;
  margin-left: 0.1rem;
}

.comments_content {
  margin: 0.213rem 0 0.213rem 1.36rem;
  width: 8rem;
  height: 1.066rem;
  font-size: 0.373rem;
  line-height: 0.533rem;
}
.comments_content img {
  display: inline-block;
}

.reply_box {
  width: 10rem;
  height: auto;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.reply_box > div:nth-child(1) {
  width: 100%;
  height: 1.307rem;
  display: flex;
  align-items: center;
  padding: 0 0.267rem;
  box-shadow: 0rem -0.013rem 0rem 0rem #e5e5e5;
}
.reply_box > div:nth-child(1) > div:nth-child(2) {
  width: 1.359rem;
  height: 100%;
  color: #999999;
  font-size: 0.4rem;
  background: #ffffff;
}

.inputs {
  width: 8.107rem;
  height: 0.773rem;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.387rem;
  overflow: hidden;
}
.inputs > i {
  width: 10%;
  height: 100%;
  font-size: 0.45rem;
  background: #F5F5F5;
  padding: 0 0.1rem 0 0.267rem;
}

#form_article {
  width: 80%;
  height: 0.773rem;
  font-size: 0.32rem;
  outline: none;
  overflow-x: auto;
  white-space: nowrap;
  line-height: 0.85rem;
}
#form_article img {
  display: inline-block;
}
